body, h1, h2, h3, h4, h5, h6 { margin: 0 }
body {height: 100%;}


%flex_center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pulsate {
  animation: pulsate 1.3s infinite;
}
@keyframes pulsate {
  0% { 
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rgba(153, 24, 63, 0.7);
  }
  50% { 
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(255, 165, 0, 0);
  }
  100% { transform: scale(1) }
}
.whatsapp {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all .2s ease;
  img { width: 30px }

  &:hover {
    transform: scale(1.1);
  }
}


// scroll
::-webkit-scrollbar{ width: 14px }
::-webkit-scrollbar-track{ background: #b1b1b1 }
::-webkit-scrollbar-thumb{ 
  background: #99183f;
  // background: #2c4381;
  border-radius: 7px;
  &:hover { background-color:#781533 }
}


h3 { margin: 20px 0 }
.content { min-height: calc(100% - 65px - 100px) }
.container {
  padding: 0 10px;
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
}


// HEADER =============================================================
header {
  background-color: orange;
  height: 65px;
  box-shadow: 0px 9px 5px 0px rgba(34, 60, 80, 0.2);
  

  .header {
    @extend %flex_center;

    div {
      transition: all .2s ease;
      &:hover { transform: scale(1.1) }
      
      a {
        font-size: 24px;
        font-weight: 700;
        color: black;
      }
    }
  }
}




// TOP =============================================================

.top {
  background: rgb(56, 56, 56) url('./img/house.jpg') center center/cover no-repeat;
  height: calc(100vh - 65px);

  &_text{
    text-align: center;
    height: 90%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: radial-gradient(50% 30% at 50% 55%, #000000, rgba(0, 0, 0, 0) 90%);
    h2 {
      padding: 0 15px 10px;
      margin-bottom: 10px;
      border-bottom: 3px solid orange;
    }
   
  }
}

// МЕТАЛЛОЧЕРЕПИЦА ===========================================================
.cards {
  @extend %flex_center;
  flex-wrap: wrap;
  margin-bottom: 15px;

  &_item {
    margin: 10px;
    text-align: center;
    img {
      height: 200px;
    }
  }

}



// MIDDLE ===========================================================

.middle {
  
  &_roofing_materials p { text-indent: 20px }
  
  &_services {
    
    &_cards {
      display: flex;
      flex-wrap: wrap;
      
      &_item {
        width: 25%;
        border: 1px solid white;

        &_imgdiv { height: 300px }
        
        &_text {
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;

          height: 70px;
          margin: 0;
          padding: 10px 5px;
          color: white;
          font-size: 16px;
          background: rgb(72, 16, 33);
        }

        // transition: transform .2s ease;
        // &:hover {
        //   transform: scale(1.1);
        // }
      }
    }
    
    .middle_services_title {
      
      background: orange;
      text-align: center;
      padding: 20px 0;
      h5 {
        font-size: 30px;
        font-weight: 600;
      }
      span {
        display:block;
        margin-top: 10px;
        font-size: 22px;
      }
    }
  }


  &_sales {
    padding: 40px 0;
    @extend %flex_center;
    justify-content: space-evenly;
    img {
      width: 250px;
    }
  }
}


// Портфолио ===========================================================

.portfolio {
  &_doposle {
    @extend %flex_center;
    div:first-child {border-right: 1px solid white}
    img {width: 100%}
    h5 {
      text-align: center;
      background-color: red;
      color: white;
      padding: 10px;
      margin: -5px 0;
    }
  }
  &_slider {
    cursor: grab;
    @extend %flex_center;
    margin-top: 20px;
    width: 100%;
    overflow-x: scroll;
    &_item {
      margin-bottom: 10px;
      height: 500px;
      margin-right: 5px;
      min-width: 100%;
    }
    &::-webkit-scrollbar{ height: 20px }
  }
}


// MAPS ===========================================================

.maps {
  margin-top: 20px;

  &_imgs {
    @extend %flex_center;
    justify-content: space-evenly;
    img {
      margin: 20px 0;
      width: 200px;
      border-radius: 10px;
      
      transition: all .2s ease;
      &:hover {
        background-color:rgb(206, 206, 206);
        transform: scale(1.2);
      }
    }
  }
}

div.leaflet-bottom.leaflet-right {display: none}




// FOOTER ===========================================================



footer {
  height: 100%;
  background: #333;
  color: white;
  padding: 15px 0;

  .footer { 
    @extend %flex_center;
    flex-wrap: wrap; 
  }

}

div.leaflet-container.leaflet-touch.leaflet-retina.leaflet-fade-anim.leaflet-grab.leaflet-touch-drag.leaflet-touch-zoom {
  height: 500px !important;
}
// MEDIA =========================================================================
@media (max-width: 1060px) {
  .middle_services_cards_item{ width: 33.3% }
}

@media (max-width: 712px) {
  header {
    position: sticky;
    top: 0;
    z-index: 5;
  }
  .cards {
    justify-content: center;
    // max-width: 100%;
    // height: 280px;
    // overflow-y: hidden;
    // flex-direction: column;

    // &::-webkit-scrollbar{height: 10px}
  }
  .middle_services {margin-top: 20px}
  .middle_services_cards_item{ width: 50% }

}

@media (max-width: 736px) {

 .top_text h2 {font-size: 40px}
 .portfolio_doposle {flex-wrap: wrap}
}
@media (max-width: 666px) {
  .maps_imgs{ 
    flex-wrap: wrap;
    justify-content: center;
  }

  .portfolio_slider_item {height: 380px}
}

@media (max-width: 560px) {
  .top_text h2 {font-size: 34px}
  .top_text h4 {font-size: 28px}

  h3 {font-size: 34px}
  .top {height: 65vh}

  .middle_sales { 
    flex-wrap: wrap;
    flex-direction: column;
  }
  .middle_services_cards_item{ width: 100% }

}

@media (max-width: 440px) {
  .container { padding: 0 }
  .middle_sales {margin-top: 20px }
  .portfolio_slider_item { height: 350px }

  div.leaflet-container.leaflet-touch.leaflet-retina.leaflet-fade-anim.leaflet-grab.leaflet-touch-drag.leaflet-touch-zoom {
    height: 400px !important;
  }
  .middle_services h5 {font-size: 22px}
}










































